body {
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: 1000;
    background-color: lavender;
    color: rgb(142, 46, 78);
}

h1 {
    text-align: center;
    margin: 10px 30%;
    width: 40%;    
}

table {
    margin: 0 15%;
    width: 70%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: x-large;
}

th, td {
    border: 1px solid black;
    height: 50px;
}

th.th1, th.th3 {
    width: 15%;
}

th.th2 {
    width: 70%;
}

a {
    border: 5px ridge #24a428;
    padding: 3px 5px;  
    background-color: #24a428;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
    font-size: large;
}

a:hover {
    background-color: #0a930e;    
}

a:link, a:visited,  a:active, a:focus {
  text-decoration: none;  
}
